// general settings
REACT_APP_LOGO=./logo.png
REACT_APP_LOGO_TEXT=PTT.ai

// API settings
REACT_APP_GATEWAY_URL=http://localhost:9988
REACT_APP_HUB_URL=http://localhost:3003
REACT_APP_HUB_PATH=
REACT_APP_GATEWAY_PATH=

REACT_APP_GOOGLE_SIGNIN_CLIENT_ID=

// enable test login interface
REACT_APP_ENABLE_TEST_LOGIN=