[Unit]
Description=PTT.ai-next-Gateway
After=network.target

[Service]
ExecStart=node --max-old-space-size=8192 gateway.js
WorkingDirectory=/home/ubuntu/pttai-next/backend
Type=simple
User=ubuntu
Restart=always
TimeoutSec=15

[Install]
WantedBy=multi-user.target