GOOGLE_SIGNIN_CLIENT_ID=
# allowed domain for google signin, separated by ','
GOOGLE_SIGNIN_ALLOWED_DOMAIN_LIST=

# set this if your application is not served on root path '/'
# for example, if your gateway is served on /gateway, set GATEWAY_SOCKET_IO_NAMESPACE to /gateway
# same goes HUB_SOCKET_IO_NAMESPACE
HUB_SOCKET_IO_NAMESPACE=
GATEWAY_SOCKET_IO_NAMESPACE=

# Set a unique secret for authentication
JWT_SECRET=