# Set a unique secret for authentication
JWT_SECRET=

### Google OAuth
GOOGLE_SIGNIN_CLIENT_ID=
# allowed domain for google signin, separated by ','
GOOGLE_SIGNIN_ALLOWED_DOMAIN_LIST=

# set this if your application is not served on root path '/'
# for example, if your gateway is served on /gateway, set GATEWAY_SOCKET_IO_NAMESPACE to /gateway
# same goes HUB_SOCKET_IO_NAMESPACE
HUB_SOCKET_IO_NAMESPACE=
GATEWAY_SOCKET_IO_NAMESPACE=

# Enable direct id login, DON'T ENABLE IN PRODUCTION
ENABLE_TEST_LOGIN=

# Replicator API HOST
REPLICATOR_URL=localhost:10237

# GATEWAY API HOST for Replicator
GATEWAY_URL=localhost:9988