body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (min-width: 640px) {
.app {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr 40px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.prompt {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.message {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
}

@media screen and (max-width: 640px) {
.app {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 50px 1fr 40px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.prompt {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.message {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

}
}

.border-box {
  box-sizing: border-box;
}

.app {
  -webkit-overflow-scrolling: touch;
}