body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.date-divider {
    position: relative;
    outline: 0;
    border: 0;
    text-align: center;
  }
  
  .date-divider:before {
    content: '';
    background: #707070;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    opacity: .25;
  }
  
  .date-divider:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
  
    padding: 0 .5em;
    line-height: 1.5em;
    color: #707070;
    background-color: white;
  }

@media screen and (min-width: 640px) {
.app {
  display: grid;
  grid-template-columns: 250px minmax(1px, 1fr);
  grid-template-rows: minmax(1px, 1fr) 130px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.prompt {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.message {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
}

@media screen and (max-width: 640px) {
.app {
  display: grid;
  grid-template-columns: 250px minmax(1px, 1fr);
  grid-template-rows: 50px minmax(1px, 1fr) 130px;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.prompt {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.message {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

}
}

.border-box {
  box-sizing: border-box;
}

.app {
  -webkit-overflow-scrolling: touch;
}